django==5.1.6

django-cors-headers
djangorestframework
# pymysql
# mysqlclient

pytest
pytest-django
coverage
requests
beautifulsoup4
lxml
arxiv
scholarly
pypinyin
apscheduler
PyYAML
python-dotenv
Pillow
# TODO Start: [Student] Add dependency on uWSGI

# TODO End: [Student] Add dependency on uWSGI
